.page {
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px); // view height - margin of page

  .response-container {
    color: white;
    overflow-y: scroll;
    text-overflow: ellipsis;
    //border: 1px solid red; // for debugging
    height: 100%;

    .pending {
      .assistant {
        color: darkorange;
      }

      .dotted-lines {}
    }

    .message {
      margin-bottom: 1em;

      .role {

        .player {
          color: forestgreen;
        }
        .system {
          color: indianred;
        }
        .assistant {
          color: darkorange;
        }

      }

      .content {
        white-space: pre-line;
      }
    }
  }

  .form-container {
    color: white;
    background-color: #222020;
    //border: 1px solid green; // for debugging
    width: calc(100% - 0.5em); // to align with scrollbar

    .form {
      display: flex;

      .prefix {
        flex: 0;
        padding: 1px 2px;
        //border: 1px dashed yellow; // for debugging

        .user {
          color: forestgreen;
        }

        .location {
          color: dodgerblue;
        }
      }

      input {
        border: none;
        //border: 1px dashed blue; // for debugging
        background-color: transparent;
        font-family: "Fira Mono", "monospace";
        color: white;
        flex: 1;
        overflow: auto;
      }

      input:focus {
        outline: none;
      }
    }
  }
}







