<div class="page">
  <div #chat class="response-container">
    <div *ngFor="let message of (conversation$ | async)">
      <div class="message">
        <span [ngSwitch]="message.role" class="role">
          <span *ngSwitchCase="Role.Assistant" class="assistant" >[{{ getName(message.role) }}]</span>
          <span *ngSwitchCase="Role.User" class="player" >[{{ user }}]</span>
          <span *ngSwitchCase="Role.System" class="system" >[{{ getName(message.role) }}]</span>:
        </span>
        <message class="content" [content]="message.content" (newWordEvent)="scrollToBottom()"></message>
      </div>
    </div>
    <div *ngIf="(pending$ | async)" class="pending">
      <span class="assistant">[{{ getName(Role.Assistant) }}]</span>
      <span class="dotted-lines">: {{await$ | async}}</span>
    </div>
  </div>
  <div class="form-container">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" >
      <span class="prefix">
        <span class="user">{{ user }}</span><span>:</span>
        <span class="location">{{ '/' + location}}</span><span>$</span>
      </span>
      <input #instruction type="text" formControlName="message">
    </form>
  </div>
</div>

