.page {
  font-family: 'Fira Mono', monospace;
  font-size: 20px;
  margin: 25px;
  text-overflow: ellipsis;
}

.response-container {
  color: white;
  width: 90vw;
  height: 100%;
}

.instruction-container {
  margin-top: auto;
  color: white;
  position: fixed;
  left: 25px;
  bottom: 25px;
  width: 100%;
}

.message {
  margin-bottom: 1em;
}

.form > * {
  background-color: #222020;
}

.instruction-form {
  font-family: 'Fira Mono', monospace;
  font-size: 20px;
  color: white;
  border: none;
}

.user {
  color: forestgreen;
}

.location {
  color: dodgerblue;
}

textarea:focus, input:focus{
  outline: none;
}
