<span *ngFor="let word of words$ | async">
  <span [ngSwitch]="word.color">
    <span *ngSwitchCase="WordColor.WHITE"><span class="white">{{word.processedContent}}</span></span>
    <span *ngSwitchCase="WordColor.GRAY"><span class="gray">{{word.processedContent}}</span></span>
    <span *ngSwitchCase="WordColor.GREEN"><span class="green">{{word.processedContent}}</span></span>
    <span *ngSwitchCase="WordColor.LIME"><span class="lime">{{word.processedContent}}</span></span>
    <span *ngSwitchCase="WordColor.BLUE"><span class="blue">{{word.processedContent}}</span></span>
    <span *ngSwitchCase="WordColor.PURPLE"><span class="purple">{{word.processedContent}}</span></span>
    <span *ngSwitchCase="WordColor.ORANGE"><span class="orange">{{word.processedContent}}</span></span>
    <span *ngSwitchCase="WordColor.RED"><span class="red">{{word.processedContent}}</span></span>
    <span *ngSwitchCase="WordColor.YELLOW"><span class="yellow">{{word.processedContent}}</span></span>
  </span>
</span>
