@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

@media (min-width:320px)  {
  body {
    font-size: 14px;
  }
  input {
    font-size: 14px;
  }
}
@media (min-width:600px)  {
  body {
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
}
@media (min-width:961px)  {
  body {
    font-size: 18px;
  }
  input {
    font-size: 18px;
  }
}
@media (min-width:1281px)  {
  body {
    font-size: 22px;
  }
  input {
    font-size: 22px;
  }
}

body {
  font-family: 'Fira Mono', monospace;
  background-color: #222020;
}

input  {
  font-family: 'Fira Mono', monospace;
}

div::-webkit-scrollbar {
  width: 0.5em;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

div::-webkit-scrollbar-thumb {
  background-color: #353535;
}
