@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
  font-family: 'Fira Mono', monospace;
  background-color: #222020;
}

div::-webkit-scrollbar {
  width: 0.5em;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

div::-webkit-scrollbar-thumb {
  background-color: #353535;
}
